body {
    background-color: lightblue;
    background-image: url("/img/img-header/logo.png");
  }

.container{
   margin-top:4rem; 
   background-color:rgb(237, 214, 167);
   padding: 15px;
   opacity: 0.90;
  
}

header{
  background-color: white;
  padding: 2px;
}


